{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
            <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">

</head>
<body>

<footer id="footer">
    <div class="footer-container">
        <div class="footer-section">
            <h3>Contact 1</h3>
            <p><strong>Contact Person:</strong> Cristel Al Sarrouh</p>
            <p><strong>Phone Number:</strong> +33 609 656 222</p>
            <p><strong>Email:</strong> cristel@crmedicalcenter.com</p>
        </div>

        <div class="footer-section">
            <h3>Visit Us</h3>
            <p>Luminy Faculty</p>
            <p>Marseille, France</p>
        </div>

        <div class="footer-section">
             <h3>Contact 2</h3>
            <p><strong>Contact Person:</strong> Rafi Chalhoub</p>
            <p><strong>Phone Number:</strong> +33 753946110</p>
            <p><strong>Email:</strong> rafi@crmedicalcenter.com</p>
        </div>
    </div>

    <div class="copyright">
           <main>
        <p>Providing high-quality medical services for your needs.</p>
    </main>
        <p>&copy; 2023 CR Medical Center. All rights reserved.</p>
    </div>
</footer>
</body>
</html>