
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CR Medical Center</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>



</head>

<body>
    {% block content %}
    <header class="slideshow-header">
        <h1>CR Medical Center</h1>
        <div class="slideshow-container">
            <img class="mySlides" src="{% static 'img/mri.jpg' %}">
            <img class="mySlides" src="{% static 'img/xray.jpg' %}">
            <img class="mySlides" src="{% static 'img/blood.jpg' %}">
            <img class="mySlides" src="{% static 'img/micro.jpg' %}">
            <img class="mySlides" src="{% static 'img/analysis.jpg' %}">
        </div>
    </header>

    {% include 'navbar.html' %}

   <section class="presentation">
        <h2>Who are we?</h2>
        <p class="w3-justify">
            Established in October 2023, CR Medical Center represents a new chapter in healthcare excellence. The center is driven by a vision to redefine healthcare standards in our community.        </p>

        <p class="w3-justify">
            Equipped with cutting-edge medical technology, CR Medical Center offers a comprehensive range of services, including routine blood tests, advanced imaging procedures such as X-rays, MRIs, and CT scans, and various other diagnostic solutions. Despite its recent establishment, the center has quickly gained recognition for its unwavering dedication to excellence.
        </p>

        <p class="w3-justify">
            The dedicated team of healthcare professionals at CR Medical Center is committed to providing personalized and compassionate care. Whether you require preventive screenings, specialized tests, or expert consultations, CR Medical Center is here to meet your healthcare needs.
        </p>

        <p class="w3-justify">
            At CR Medical Center, the founders understand that healthcare extends beyond the treatment of ailments; it's about promoting overall well-being. Their mission is to cultivate a welcoming environment where preventive healthcare, specialized tests, and expert consultations seamlessly come together. Your health is not merely a priority; it's a partnership.        </p>
   </section>



<!-- Add these buttons inside your 'latest-news' section -->
    <section class="latest-news">
        <h2>Latest News</h2>
        <button id="prev-button">Previous</button>
        <button id="next-button">Next</button>
        <div id="news-container" class="slideshow-news"></div>
    </section>


    <div id="map"></div>


    {% endblock %}
        {% include 'footer.html' %}

    <script src="{% static 'js/img.js' %}"></script>
    <script src="{% static 'js/map.js' %}"></script>
    <script src="{% static 'js/latestnews.js' %}"></script>

</body>
</html>
