{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, max-age=0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>Medical Application Form</title>

    <!-- Link to External Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/medical_form.css' %}">
</head>

<body>
    <!-- Medical Application Form Container -->
    <div class="form-container">
        <!-- Form Heading -->
        <h2>Medical Application Form</h2>

        <!-- Medical Application Form Submission -->
        <form method="post" action="{% url 'medical_application_form' %}" class="medical-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>

        <!-- Logout Link -->
        <a href="{% url 'logout' %}">logout</a>
    </div>

    <!-- Link to Check Patients -->
    <a href="{% url 'patients' %}" class="patient">Check patients</a>

    <!-- JavaScript to prevent going back to medical form after pressing back button -->


</body>

</html>
