/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

/* Styling for the Our Team header */
header h1 {
    font-size: 2.5rem;
    padding: 20px;
    background: steelblue;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    text-align: center; /* Center the text */
}

/* Container styling for content */
.container {
    max-width: 900px;
    padding: 20px;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 30px auto;
    margin-top: 50px;
    font-size: large;
}

/* Styling for individual biologist information */
.biologist-info {
    margin-bottom: 20px;
}

/* Styling for labels within biologist information */
.label {
    font-weight: bold;
}