/* Reset default margin and padding for lists */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

/* Reset default styles for unordered lists */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Center the "CR Medical Center" text in the header and give it a colored background */
header {
    text-align: center;
    color: white;
    padding: 50px;
}

/* Style the slideshow container and header */
.slideshow-header {
    position: relative;
    height: 25vh;
    overflow: hidden;
}

.slideshow-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mySlides {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}

h1 {
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
    font-size: 100px;
    font-family: Arial, sans-serif;
    -webkit-text-stroke: 2px black;
}

/* Style for the presentation section */
.presentation {
    max-width: 900px;
    padding: 20px;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 30px auto;
    margin-top: 50px;
}

.presentation h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 30px;
}

/* Style for the paragraph within the presentation section */
.presentation p {
    margin-top: 20px;
    font-size: 1.2rem;
    line-height: 1.4;
    color: #333;
}

footer {
    text-align: center;
    margin-top: 20px;
}

/* Latest News Section */
.latest-news {
    background-color: whitesmoke;
    color: #fff;
    padding: 50px 0;
    margin-top: 50px;
    position: relative;
}

.latest-news h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 30px;
    color: black;
}

.slideshow-news {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style for each news slide */
.news-mySlides {
    display: none;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.news-content {
    margin-bottom: 20px;
}

.news-content h3 {
    color: #66ccff;
}

.news-content p {
    color: black;
}

/* Navigation dots for the slideshow */
.news-dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #666;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.news-dot.active {
    background-color: #66ccff;
}

/* Add these styles to position the buttons */
#prev-button,
#next-button {
    background-color: steelblue;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
}

#prev-button {
    left: 10px;
    position: absolute;
    margin-top: 50px;
}

#next-button {
    right: 10px;
    position: absolute;
    margin-top: 50px;
}

#map {
    height: 300px;
    width: 80%;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* Copyright text at the bottom */
.copyright {
    text-align: center;
    margin-top: 20px;
    font-size: 0.8em;
}