/* Resetting Default Styles */
body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}

/* Form Container Styling */
.form-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Medical Form Styling */
.medical-form {
    display: grid;
    gap: 10px;
}

/* Heading Styling */
h2 {
    color: #333;
    text-align: center;
}

/* Label Styling */
label {
    font-weight: bold;
}

/* Input Styling */
input[type="text"],
input[type="date"],
input[type="email"] {
    width: 100%;
    padding: 8px;
    margin: 6px 0;
    box-sizing: border-box;
}

/* Textarea Styling */
textarea {
    width: 100%;
    padding: 8px;
    margin: 6px 0;
    box-sizing: border-box;
}

/* Button Styling */
button {
    background-color: steelblue;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

/* Button Hover Effect */
button:hover {
    background-color: steelblue;
}
.patient {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        text-align: center;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        }

