* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style the Our Team header */
header h1 {
    font-size: 2.5rem;
    padding: 20px;
    background: steelblue;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    text-align: center; /* Center the text */
}


th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: steelblue; /* Blue color */
    color: #fff; /* White text on blue background */
}
